/* regole generali */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} */

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}
.inline{
  display: inline-block;
}
#fixed{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}
ul{
  padding-inline-start: 5px;
}
section{
  margin: 0 0 ;
}
img {
  max-width: 100%;
  height: auto;
}
#text-center{
  text-align: center;
}
#back-gray{
  background-color: #f3f5f9;
}

#back-blue{
  background-color: #031b4e;
}
#back-lightblue{
  background-color: #015aff;
}
#white-written{
  color: #fff;
}
#blue-written{
  color:blue;
}
.text-centre{
  text-align: center;
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
/* regole di debug */
[class*="col-"] {
  /* min-height: 60px; */
   /* background-color: lightgreen; */
   /* border: solid 1px  #000; */
   /* index: 100; */
   /* padding: 0; */
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  /* background-color: salmon; */
  /* border-color: #fff; */
}

/* PROPRIETà CORPO PAGINA */

/* proprietà nav */
 #brand{
  background-color: ##f3f5f9;
  max-width: 100%;
  height: auto;
}
.navbar-header{
  width: 20%;
  line-height: 50px;
  margin: 0 0;
}
#nav-color{
background-color: #ffffff;
}
.nav .navbar-nav .navbar-right{
  padding-left: 4%;
}
#button-signin{
margin-left: 25%;
color: #031b4e;
background-color: #fff;
border-color: #031b4e;
}
/* proprietà jumbotron */
.back-jumbo{
  background-image: url(../img/home.jpg);
  background-size: cover;
}
.jumbotron-box{
  margin-top: 60px;

}
.box-written{
  padding: 15px 10%;
}
.form-jumbo-box{
  padding: 0 5%;
  text-align: center;
  border: solid 1px blue;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 10px;
}
.link-start{
  color: lightblue;
  text-decoration: none;
}
/* proprietà main */

/* proprietà sezione 1 */
.box-list{
  padding-left: 15%
}
#menu_box{
  border-left: 1px solid blue ;
}
ul#menu_box li {
  font-family: sans-serif;
  display: block;
  padding: 10px 0 ;

    }
ul#menu_box li a {
  /* font-size: 15px; */
  /* text-decoration: none; */
}
.box-cluster{
  padding: 4%
}
/* PROPRIETà SEZIONE 2 */

/* proprietà sezione 3 */
.box-carousel{
  padding: 35px 10%;
}
.carousel-control.right,.carousel-control.left {
  background-image: none;
}
.left.carousel-control{
  left:-10%;
}
.right.carousel-control{
  right: -10%;
}
.carousel-indicators{
  bottom: -40px;
}
.carousel-indicators .active{
  background-color: blue;
}
.carousel-indicators li{
  border: solid 1px lightblue;

}
/* proprieta sezione 5 */
.box-table{
  padding: 4%;
}
.title-table{
  padding: 15px 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  padding: 4%;
}
td,th{
  color: #fff;
}
/* proprietà footer */

#button-account{
  color: #031b4e;
  background-color: #fff;
  border-color: #031b4e;
}
.box-logo-footer{
  padding: 4%;
}
ul#menu_box_social li {
  /* font-family: sans-serif; */
  display: inline-block;
  padding: 0 4%;
    }
ul#menu_box_social li a {
  /* font-size: 15px; */
  text-decoration: none;
}
#menu_box_footer{
  padding-top: 10px;
}
ul#menu_box_footer li {

  font-family: sans-serif;
  display: block;
  padding: 5px 0 ;
    }
ul#menu_box_footer li a {

  font-size: 12px;
  text-decoration: none;
}
.title-box-footer{
  color: #fff;
  font-size: 15px;
  font-weight: bold;

}
/* PROPRIETA RESPONSIVE */

/* XS SCREEN */
@media screen and (max-width: 768px) {
  .box-written{
    padding-right: 0;
    text-align: center;
  }
  #brand{
    max-width: 35%;
    height: auto;
  }

}
/* MD SCREEN */
@media screen and (max-width: 991px) {
  #brand{
    max-width: 40%;
    height: auto;
  }
  .navbar-header{
    width: 100%;
  }
  .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
     margin-right: 0;
    margin-left: 0;
  }
}
