/* regole generali */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} */

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}
.inline{
  display: inline-block;
}
#fixed{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}
section{
  margin: 20px 0 ;
}
img {
  max-width: 100vw;
  height: auto;
}
#text-center{
  text-align: center;
}
#back-gray{
  background-color: #f3f5f9;
}
#back-blue{
  background-color: #031b4e;
}
#back-lightblue{
  background-color: #015aff;
}
#white-written{
  color: #fff;
}
/* regole di debug */
[class*="col-"] {
  min-height: 60px;
   /* background-color: lightgreen; */
   border: solid 1px  #000;
   index: 100;
   padding: -1px;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* PROPRIETà CORPO PAGINA */

/* proprietà nav */

/* proprietà jumbotron */
.back-jumbo{
  background-image: url(../img/home.jpg);
  background-size: cover;
}
.jumbotron-box{
  margin-top: 60px;
}
.box-written{
  padding: 0 10%;
}
.form-jumbo-box{
  padding: 0 5%;
  text-align: center;
  border: solid 1px blue;
  border-radius: 3px;
  background-color: #fff;
}
.link-start{
  color: lightblue;
  text-decoration: none;
}
/* proprietà main */

/* proprietà sezione 1 */

/* PROPRIETà SEZIONE 2 */


/* proprietà sezione 3 */

/* proprietà footer */

/* PROPRIETA RESPONSIVE */

/* XS SCREEN */
@media screen and (max-width: 768px) {
  .box-written{
    padding-right: 0;
    text-align: center;
  }

}
/* MD SCREEN */
@media screen and (max-width: 1170px) {

}
